#taskList{
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
}
#headList{
    width: 100%;
    margin: 0;
    height: 100%;
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #32b37d;
}
#inputs{
    display: flex;
    justify-content: right;
    background-color: #32b37d;
}
#inputs input{
    width: 100%;
    display: inline-block;
}
Button{
    width: 80px;
 }
div #taskList :last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#error1{
    display: none
}
#error2{
    display: none
}
#error3{
    display: none
}
#error4{
    display: none
}
.taskList{
    background-color: #4a403f;
}
.taskList p{
    color: #ffffff;
    margin-bottom: 0;
}
@media (max-width: 1000px) {
    #taskList{
        margin-top: 50px;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
}
@media (max-width: 600px) {
    #taskList{
        margin-top: 50px;
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
    }
}