.container {
    position: relative;
    display: inline-block;
  }
  .button {
    padding: 0;
    width: 50px;
    border: 0;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: 0;
    font-size: 40px;
  }

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    padding: 8px 12px;
  }
  
  li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
  }

.todoElement_done{
    display: flex;
    justify-content: right;
    background-color: green;
    border: 1px solid black;
}
.todoElement_false{
    display: flex;
    justify-content: right;
    background-color: red;
    border: 1px solid black;
}
.todoElement_done :first-child{
    margin: auto;
}
.todoElement_false :first-child{
    margin: auto;
}
.todoElement_done Button{
    background-color: black !important;
}
.todoElement_false Button{
    background-color: black !important;
}


Button{
   width: 80px;
}
.description{
    height:64px;
}
p{
    padding-left: 10px;
    text-align: left;
    font-size: 30px;
    width: 100%;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;              /* "overflow"-Wert darf nicht "visible" sein */

    text-overflow: ellipsis;
}
@media (max-width: 1000px) {
    p{
        font-size: 25px;
    }
    .todoElement_done Button{
        width: 60px;
    }
    .todoElement_false Button{
        width: 60px;
    }
}
@media (max-width: 600px) {
    p{
        font-size: 20px;
    }
    .todoElement_done Button{
        width: 40px;
    }
    .todoElement_false Button{
        width: 40px;
    }
}